html{
    background-color: hsl(212, 45%, 89%)
}
body{
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-content: center;

    height: 370px;
    width : 220px;

    margin: 15%  auto ;
    border-radius: 10px;

    padding: 1em ;
 
    text-align: center;
    font-family:'Outfit', sans-serif;  
}
h3{
    /* font-family:'Outfit', sans-serif; 
    font-size: 15px; */
    font: 700 15px 'Outfit', sans-serif ;
    color: dar;
}
p{
    font: 400 13px 'Outfit', sans-serif ;
    /* font-size: 15px; */
    color: hsl(220, 15%, 55%);
}
div{
    font-weight: 400;
}
img{
    height: 220px ;
    width: 220px;
    padding : 0.01em 0.01em;
    border-radius: 10px;
}
